@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "微软雅黑"; }

html, body, .box {
  width: 100%;
  height: 100%; }

.head {
  width: 100%;
  height: 15rem;
  background: url(../img/banner.png);
  background-size: 100% 100%;
  padding-top: 3rem; }
  .head h1 {
    font-size: 2rem;
    color: white;
    text-align: center; }
  .head header {
    width: 100%;
    height: 3.5rem;
    margin-top: 3rem;
    position: relative;
    padding: 0 4rem 0 1rem; }
    .head header .left {
      font-size: 1rem;
      color: #3A3837;
      position: absolute;
      left: 3rem;
      top: 0.6rem;
      display: inline-block;
      border-right: 1px solid #D5D2D0;
      padding-right: 0.5rem; }
      .head header .left span {
        font-size: 0.5rem;
        color: #939291; }
    .head header input {
      width: 100%;
      height: 2.5rem;
      background: rgba(255, 255, 255, 0.8);
      outline: none;
      border: none;
      border-radius: 2.5rem;
      padding-left: 7rem; }
    .head header .right {
      position: absolute;
      right: 5rem;
      top: 0.8rem;
      font-size: 1rem;
      color: #AFAEAD; }
    .head header .user {
      position: absolute;
      right: 1rem;
      top: 0;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      background: rgba(255, 255, 255, 0.8);
      text-align: center;
      line-height: 2.5rem; }
      .head header .user span {
        font-size: 1rem;
        color: #AFAEAD; }
  .head .list {
    width: 100%;
    padding: 0 1rem; }
    .head .list ul {
      width: 100%;
      background: white;
      zoom: 1;
      border-radius: 1rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
      .head .list ul:after {
        display: block;
        clear: both;
        content: ''; }
      .head .list ul li {
        float: left;
        width: 25%;
        text-align: center;
        margin-top: 1rem; }
        .head .list ul li a {
          display: block;
          width: 3rem;
          height: 3rem;
          margin: 0 auto; }
          .head .list ul li a img {
            width: 100%;
            height: 100%; }
        .head .list ul li span {
          display: block;
          font-size: 1rem;
          margin-top: 0.5rem; }

.content {
  width: 100%;
  margin-top: 12rem; }
  .content .loso {
    width: 100%;
    height: 3rem;
    zoom: 1;
    margin-top: 0.5rem; }
    .content .loso:after {
      display: block;
      clear: both;
      content: ''; }
    .content .loso p {
      float: left; }
    .content .loso p:nth-child(1) {
      border-right: 1px solid #DDDDDD;
      width: 20%;
      height: 100%;
      padding-left: 1rem; }
      .content .loso p:nth-child(1) img {
        width: 3rem;
        height: 2.5rem; }
    .content .loso p:nth-child(2) {
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 1rem;
      width: 80%;
      height: 100%;
      overflow: hidden; }
  .content .con_list {
    width: 100%;
    padding: 1rem; }
    .content .con_list .kuai {
      font-size: 2rem;
      color: #333333;
      margin-top: 1rem; }
    .content .con_list > div {
      width: 100%;
      height: 2rem;
      zoom: 1;
      overflow: hidden;
      margin-top: 1rem;
      position: relative; }
      .content .con_list > div:after {
        display: block;
        clear: both;
        content: ''; }
      .content .con_list > div p {
        float: left;
        width: 15%;
        height: 100%;
        font-size: 1rem;
        color: #666666;
        margin-top: 0.2rem; }
      .content .con_list > div ul {
        height: 100%;
        width: 85%;
        float: left;
        zoom: 1;
        padding-right: 4rem;
        line-height: 2rem; }
        .content .con_list > div ul:after {
          display: block;
          clear: both;
          content: ''; }
        .content .con_list > div ul li {
          float: left;
          font-size: 1rem;
          color: #333333;
          margin-left: 1rem; }
      .content .con_list > div .clik {
        display: block;
        width: 2rem;
        height: 1rem;
        border: 1px solid #E5E5E5;
        text-align: center;
        line-height: 1rem;
        position: absolute;
        right: 1rem;
        top: 0.5rem; }
        .content .con_list > div .clik span {
          font-size: 1rem; }
  .content .list_2 {
    width: 100%;
    padding: 0 1rem; }
    .content .list_2 ul {
      width: 100%;
      zoom: 1; }
      .content .list_2 ul:after {
        display: block;
        clear: both;
        content: ''; }
      .content .list_2 ul li {
        float: left;
        width: 25%;
        padding-right: 2rem;
        margin-top: 0.5rem; }
        .content .list_2 ul li a {
          display: block;
          padding: 0.5rem;
          border: 1px solid;
          border-radius: 0.1rem;
          border: 1px solid red; }
  .content .neirong {
    width: 100%; }
    .content .neirong .tui {
      font-size: 2rem;
      color: #333333;
      margin-left: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
    .content .neirong ul {
      width: 100%; }
      .content .neirong ul li {
        width: 100%;
        zoom: 1;
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #E5E5E5; }
        .content .neirong ul li:after {
          display: block;
          clear: both;
          content: ''; }
        .content .neirong ul li > div {
          float: left; }
          .content .neirong ul li > div:nth-child(1) {
            width: 7rem;
            height: 7rem; }
            .content .neirong ul li > div:nth-child(1) img {
              width: 100%;
              height: 100%; }
          .content .neirong ul li > div:nth-child(2) {
            margin-left: 0.5rem; }
            .content .neirong ul li > div:nth-child(2) p {
              font-size: 1.2rem;
              color: #666666;
              margin-top: 0.5rem; }
              .content .neirong ul li > div:nth-child(2) p:nth-child(1) {
                font-size: 2rem;
                margin-top: -0.5rem; }
              .content .neirong ul li > div:nth-child(2) p span {
                font-size: 1.2rem;
                font-weight: bold;
                color: #FF6D6F;
                margin-left: 4rem; }
                .content .neirong ul li > div:nth-child(2) p span img {
                  margin-left: -3rem;
                  width: 6rem;
                  height: 1.5rem; }
  .content .look {
    width: 100%;
    height: 3rem;
    line-height: 3rem; }
    .content .look p {
      font-size: 1.2rem;
      color: #666666;
      text-align: center; }

footer {
  width: 100%;
  height: 4rem;
  background: #464754;
  position: relative;
  padding: 0.5rem; }
  footer p {
    font-size: 1rem;
    color: #878787; }
  footer a {
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #878787;
    text-decoration: underline; }

/*# sourceMappingURL=home.css.map */
